Repository casyuyii/cast: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

feat: top menu
  packages/blog/src/components/mdcomp.astro
  packages/blog/src/components/topmenubar.astro
  packages/blog/src/layouts/basic.astro
  packages/blog/src/pages/b/[id].astro
  packages/blog/src/pages/blog/test_md_style.md
  packages/blog/src/pages/index.astro
Due: prettier --write, eslint

feat: move route "/blog" to subdomain "blog.*"
  docker/nginx.dev.conf
  docker/nginx.prod.conf
  package.json
Due: prettier --write, eslint

fix: blog file permission
  docker/nginx.dev.Dockerfile
  docker/nginx.prod.Dockerfile
  docker/nginx.prod.conf
Due: none

feat: divider & wip: about
  packages/blog/src/components/divider.astro
  packages/blog/src/components/topmenubar.astro
  packages/blog/src/layouts/basic.astro
  packages/blog/src/pages/index.astro
Due: prettier --write, eslint

fix: archived devider
  packages/blog/src/pages/index.astro
Due: prettier --write, eslint

feat: move "blog" subdomain to root
  docker/nginx.dev.conf
  docker/nginx.prod.conf
Due: none

feat: resume redirect
  packages/blog/astro.config.mjs
  packages/blog/src/components/mdcomp.astro
  packages/blog/src/components/topmenubar.astro
Due: prettier --write, eslint

feat: about
  packages/blog/src/assets/cplusplus-original.svg
  packages/blog/src/assets/github-mark.svg
  packages/blog/src/assets/go-original.svg
  packages/blog/src/assets/typescript-original.svg
  packages/blog/src/components/topmenubar.astro
  packages/blog/src/pages/about.astro
Due: prettier --write, eslint

blog: cosmic ray
  packages/blog/src/pages/blog/cosmic_ray.md
Due: none

update about
  packages/blog/src/pages/about.astro
Due: prettier --write, eslint

update blog
  packages/blog/src/pages/about.astro
  packages/blog/src/pages/index.astro
Due: prettier --write, eslint

blog: purchase model
  packages/blog/src/pages/blog/purchasemodel.md
Due: none

feat: blog font size & width
  packages/blog/src/components/mdcomp.astro
  packages/blog/src/layouts/basic.astro
Due: prettier --write, eslint

blog: golang types
  packages/blog/src/pages/blog/golang_types.md
Due: none

fix: global resources ref
  packages/blog/public/images/dailyfreebox.png
  packages/blog/public/svgs/github-mark.svg
  packages/blog/src/assets/cplusplus-original.svg
  packages/blog/src/assets/go-original.svg
  packages/blog/src/assets/typescript-original.svg
  packages/blog/src/pages/about.astro
  packages/blog/src/pages/blog/cooperate.md
Due: prettier --write, eslint

fix: util cross origin
  docker/nginx.prod.conf
Due: none

blog: golang slice
  docker/compose.dev.yaml
  packages/blog/src/pages/blog/golang_slice.md
Due: prettier --write

blog: creation
  .husky/pre-commit
  bun.lock
  packages/blog/src/pages/about.astro
  packages/blog/src/pages/blog/creation.md
  packages/blog/src/pages/blog/first_post.md
Due: prettier --write, eslint

blog
  packages/blog/src/pages/blog/creation.md
  packages/blog/src/pages/blog/differences_between_languages.md
  packages/blog/src/pages/blog/goroutine_1.md
Due: none

blog
  packages/blog/src/pages/blog/Jotting_1.md
Due: none

fix: remove "written on"
  packages/blog/src/components/mdcomp.astro
  packages/blog/src/pages/index.astro
Due: prettier --write, eslint

fix: clear
  packages/blog/src/pages/about.astro
  packages/blog/src/pages/index.astro
Due: prettier --write, eslint

fix: remove
  packages/blog/src/pages/index.astro
Due: prettier --write, eslint

fix: sync mail info
  packages/blog/src/pages/about.astro
Due: prettier --write, eslint

Path conditions:
  prettier --write: (((((((any of: *.js) or (any of: *.ts)) or (any of: *.tsx)) or (any of: *.jsx)) or (any of: *.json)) or (any of: *.astro)) or (any of: *.yaml)) or (any of: *.yml)
  eslint: (((((any of: *.js) or (any of: *.ts)) or (any of: *.tsx)) or (any of: *.jsx)) or (any of: *.json)) or (any of: *.astro)
